{{!-- layout.hbs --}}
<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <title>{{title}}</title>
  {{> head}}
 <script>

 </script>

<body>
    {{> header}}
    {{! Everything else gets inserted here }}
  <div id="wrapper">
    {{{block "error-container"}}}
    {{{body}}}
  </div>
  <footer class="footer">
    <hr>
    <p>电路分析课程 在线考试系统</p>
    <p>Copyright © ZBL</p>
  </footer>
</body>
</html>