{{!-- index.hbs --}}
{{!< ../layout}}

<style>
  ul {
    list-style: none;
  }
  ul li {
    margin-bottom: 10px;
  }
</style>
<div class="main-container"><img src="./libs/images/main-pic.jpg" class="main-pic"/>
  <div class="holder-container">
    <h1>Welcome to</h1>
    <h2>电路分析在线考试系统</h2>
    <p><a type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-large">登录</a>

    <a href="/signup" class="btn btn-large">注册 </a></p>
  </div>
</div>
<div class="row" style="margin-top: 50px;">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">考试信息</div>
      <div class="panel-body">
        <ul>
          <li><a href="#">关于本学期期末考试通知</a>  New</li>
          <li><a href="#">关于本学期期中考试通知</a></li>
          <li><a href="#">关于本学期在线测评通知</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
