{{!-- wrongproblems-list.hbs --}}
{{!< ../layout}}

<style>
  #list-container {
    width: 98%;
  }
  .paper-list {
    height: 100vh;
  }
  .panel ul{
    list-style-type: none;
  }
  .heading {
    margin-bottom: 30px;
    text-align: center;
  }
  .container {
    font-size: 1.1em;
  }
  .back {
    text-align: center;
  }
</style>

<div id="list-container" class="container">
  <div class="row">
    <div class="col-md-12 heading">
      <h3>我 的 题 库</h3>
      <div class="prob-list-header">
          <div class="btn-group-list">
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有题目</span>
                 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-status="all">所有题目</a></li>
                <li class="divider"></li>
                <li><a href="#" data-status="true">正确</a></li>
                <li class="divider"></li>
                <li><a href="#" data-status="false">错误</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有难度</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">所有难度</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="2">容易</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="5">中等</a></li>
                <li class="divider"></li>
                <li><a href="#" data-diff="8">困难</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="selected">所有题型</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-type="all">所有题型</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="选择题">选择题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="填空题">填空题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="计算题">计算题</a></li>
                <li class="divider"></li>
                <li><a href="#" data-type="问答题">问答题</a></li>
              </ul>
            </div>
          </div>
        </div>

    </div>
    <div class="col-md-3">
      <div class="panel panel-info paper-list">
        <div class="panel-heading">
          <h3 class="panel-title">试卷列表</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>电路分析2013-2014期末 A 卷</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 ans-list">

          {{> std-answer }}

    </div>

    </div>
    <hr>
    <div class="col-md-12 back center">
    <a href="/std/home">
       <button class="btn btn-primary">返 回 主 页</button>
    </a>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    // 正确显示难易程度
    $('.per-prob').each(function(index, el) {
       var $diff = $(this).find('.difficulty');
       var difNub = $diff.data('id');
        switch(difNub) {
          case 2:
            $diff.text('易');
            break;
          case 5:
            $diff.text('中');
            break;
          case 8:
            $diff.text('难');
            break;
        };
     });
    // 点击后确定功能
    var data = {
    };
    $('.btn-group').on('click', function(event) {
      event.preventDefault();
      var $target = $(event.target);
      var txt = $target.text();

      $(this).find('.selected').text(txt);

      if ($target.is('a')) {
        // Ajax 提交筛选功能
        // *****
        // TODO 题目难度的筛选
        // *****

        var _status = $target.data('status'); // 不是字符串
        var _type = $target.data('type'); // 不是字符串
        var _data = {
          status: _status,
          type: _type
        };
        $.extend(true, data, _data);

        console.log('send data', JSON.stringify(data));
        $.ajax({
          url: '/std/myproblems/',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json'
        })
        .done(function(data) {
          // console.log('**receive data**:', data);
          console.log("success");
          $('.ans-list').html(data);
        })
        .fail(function() {
          console.log("error");
        })
        .always(function() {

          console.log("complete");
        });

      }
    });

  });
</script>
