{{!-- std.hbs --}}
{{!< ../layout }}

<main class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"><img src="../libs/images/zaixiankaoshi.png" alt="在线测评"/>
        <div class="caption">
          <h3>在线测评</h3>
          <p>请选择</p>
          <p><a id="exam" href="/std/exam" role="button" class="btn btn-primary">在线考试</a>
          &nbsp
          <a href="/std/quiz/chap" role="button" class="btn btn-default">章节练习</a>
          &nbsp
          <a href="/std/quiz/type" role="button" class="btn btn-default">题型练习</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"><img src="../libs/images/lianxi.png" alt="考试记录"/>
        <div class="caption">
          <h3>考试记录</h3>
          <p>请选择</p>
          <p><a href="/std/{{user._id}}/wrongproblems" role="button" class="btn btn-primary">错题库</a>
          &nbsp<a href="/std/myproblems/bank" role="button" class="btn btn-default">我的题库</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"><img src="../libs/images/rengongyuejuan.png" alt="个人信息"/>
        <div class="caption">
          <h3>个人信息</h3>
          <p>个人信息修改</p>
          <p><a href="/std/profile" role="button" class="btn btn-primary">点击进入</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="../js/std.js"></script>
