{{!-- 正式考试页面 --}}

{{!< ../layout}}
<style>
  #exam-container {
    /*background: orange;*/
    font-size: 1.1em;
  }
  #exam-nav ul {
    display: block;
    position: fixed;
    top: 200px; 
    right: 60px;
  }


</style>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="exam-container">
       {{#each questions}}
          <article class="panel panel-info per-ques ques-id-{{_id}}">
            <section class="ques-info panel-heading">
              <label class="ques-index" for="">第 X 题</label>
              <label class="ques-type" for="">{{this.type}}</label>
              <div class="ques-content">{{this.content}}</div>
            </section>
            <section class="ans-info panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group ans-content">
                    <span class="input-group-addon">答案：</span>
                    <input type="text" class="form-control" placeholder="" name="answer" value="">
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </section>
          </article>
        {{/each}}
    </div>
    <aside id="exam-nav">
      <ul class="nav nav-pills nav-stacked col-sm-1">
        <li role=""><a href="#">上一题</a></li>
        <li role="" class="active"><a href="#">下一题</a></li>
      </ul>
    </aside>
  </div>

</div>
<script src="/js/admin.js"></script>