//- index.jade
extends ../layout

block content 
	div.main-container
		img.main-pic(src='./libs/images/main-pic.jpg')
		div.holder-container
			h1 Welcome to
			h2 电路分析在线考试系统
			- if (!user)
				p
					a.btn.btn-large(type='button', data-toggle='modal', data-target='#loginModal') 登录
					a.btn.btn-large(href='/reg') 注册	

	.row(style="margin-top: 25px;")
		.container
			.panel.panel-primary
				.panel-heading 考试信息
				.panel-body
					//- each item in examcontent
					ul
						li
							a(href="#") 关于本学期期末考试通知