//- onlinetest.jade
extends ../layout

block content
	div.container.exambox
		ol.breadcrumb
			li
				a.glyphicon.glyphicon-home(href='/') 课程主页
			li
				a.glyphicon.glyphicon-user(href='/') 我的控制面板
			li.active
				p.glyphicon.glyphicon-pencil 在线考试
