{{!-- reg.hbs --}}
{{!< ../layout}}

<div class="container">
  <h2 class="page-header">注册</h2>
  <div class="col-md-5">
    <form method="post" class="form-horizontal">
      <filedset>
        <div class="form-group">
          <label for="username" class="control-label col-md-4">学号</label>
          <div class="col-sm-6">
            <input id="username" type="text" name="username" placeholder="请输入您的学号" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-md-4">密码</label>
          <div class="col-sm-6">
            <input id="password" type="password" name="password" placeholder="请输入您的密码" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="password-repeat" class="control-label col-md-4">重复输入密码</label>
          <div class="col-sm-6">
            <input id="password-repeat" type="password" name="password-repeat" placeholder="请再次输入您的密码" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">注册</button>
          </div>
        </div>
      </filedset>
    </form>
  </div>
  <div class="col-md-7"><img src="./libs/images/login_welcomeback_happyface.png"/></div>
</div>