//- std.jade
extends ../layout

block content
	main.container
		.row
			.col-sm-6.col-md-4
				.thumbnail
					img(src='./libs/images/zaixiankaoshi.png' alt='在线测评')
					.caption
						h3 在线测评
						p 请选择
						p
							a.btn.btn-primary(href='std/onlinetest', role='button') 在线考试
							| &nbsp
							a.btn.btn-default(href='#', role='button') 章节练习
							| &nbsp
							a.btn.btn-default(href='#', role='button') 题型练习
			.col-sm-6.col-md-4
				.thumbnail
					img(src='./libs/images/lianxi.png' alt='考试记录')
					.caption
						h3 考试记录
						p 请选择
						p
							a.btn.btn-primary(href='#', role='button') 错题库
							| &nbsp
							a.btn.btn-default(href='#', role='button') 习题回顾
			.col-sm-6.col-md-4
				.thumbnail
					img(src='./libs/images/rengongyuejuan.png' alt='个人信息')
					.caption
						h3 个人信息
						p 个人信息修改
						p
							a.btn.btn-primary(href='#', role='button') 点击进入

